body {
    height:100%;
    width:100%;
    background-color: #0A1C2F;
    margin: 0px;
}

.quote-container {
    width:90%;
    height:90%;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    overflow:hidden;
    border: 0.3em solid #E0ECC5;
}

.quote-text {
    padding:0em 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.quote-text > h1 {
    color:#E0ECC5;
    font-size: 40px;
    text-align:center;
    font-weight: normal;
    font-family: 'Lobster', cursive;
}

.quote-text > h2 {
    color:#E0ECC5;
    text-align:right;
    font-weight: normal;
    font-family: 'Lobster', cursive;
    margin-right: 4em;
}

.edit-container {
    width:300px;
    height:440px;
    margin:auto;
    background-color: #0E3967;
}

.edit-text {
    text-align:center;
    padding:5em 0em;
}

.edit-text > h1 {
    color:white;
}

.edit-text > textarea, .edit-text > input{
    font-family: monospace;
    max-height:100px;
    max-width:200px;
    width:200px;
    margin:0.5em 0em;
    border:none;
    padding:0.5em;
}
.edit-text > textarea {
    height:100px;
}
.edit-text > button {
    font-family: monospace;
    max-width:200px;
    margin:0.5em 0em;
    border:none;
    padding:0.5em;
    margin-right:43px;
    width:140px;
    float:right;
}
